/**
 * SmartHub - AI-powered Smart Home
 * This stylesheet supports the SmartHub application, which reads and validates rules using AI,
 * then sends commands to the controller accordingly.
 * 
 * GitHub: https://github.com/mikhail-leonov/smart-house
 * Author: Ivan Leonov <ivanleonov1002@gmail.com>
 * Version: 0.6.8
 * License: MIT
 */

.list-group-item.active {
	background-color: transparent !important;
	border: 2px solid #3399ff !important;
	color: inherit !important;
}
