{
 "home": {
  "inside": {
   "first_floor": {
    "living-room-1f": {
     "roomba": {"description":"Roomba","values":["Roomba"],"min_value":"0","max_value":"0","actions":["start","stop","pause","home"]},
     "roomba_name": {"description":"Roomba name","values":["Roomba 1f"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_battery": {"description":"Roomba battery percentage","values":[],"min_value":"0","max_value":"100","actions":[]},
     "roomba_docked": {"description":"Roomba docked","values":["yes","no"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_cleaning": {"description":"Roomba cleaning","values":["yes","no"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_bin": {"description":"Roomba bin status","values":["full","not full"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_error": {"description":"Roomba error status","values":[],"min_value":"0","max_value":"100","actions":[]},
     "roomba_cmd": {"description":"Roomba command","values":["clean","dock"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_state": {"description":"Roomba state","values":["charging","cleaning","docking","docked","paused"],"min_value":"0","max_value":"0","actions":[]}
    }
   },
   "second_floor": {
    "den-2f": {
     "roomba": {"description":"Roomba","values":["Roomba"],"min_value":"0","max_value":"0","actions":["start","stop","pause","home"]},
     "roomba_name": {"description":"Roomba name","values":["Roomba 2f"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_battery": {"description":"Roomba battery percentage","values":[],"min_value":"0","max_value":"100","actions":[]},
     "roomba_docked": {"description":"Roomba docked","values":["yes","no"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_cleaning": {"description":"Roomba cleaning","values":["yes","no"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_bin": {"description":"Roomba bin status","values":["full","not full"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_error": {"description":"Roomba error status","values":[],"min_value":"0","max_value":"100","actions":[]},
     "roomba_cmd": {"description":"Roomba command","values":["clean","dock"],"min_value":"0","max_value":"0","actions":[]},
     "roomba_state": {"description":"Roomba state","values":["charging","cleaning","docking","docked","paused"],"min_value":"0","max_value":"0","actions":[]}
    }
   },
   "house": {
    "warning": {},
    "devices": {},
    "presence": {},
    "ac": {},
    "currency": {},
    "metals": {},
    "stat": {
     "temperature": {"description":"Current temperature reading in degrees Celsius.","values":[],"min_value":"-10","max_value":"50","actions":[]}
    }
   }
  },
  "outside": {
   "first_floor": {
    "pool": {
     "water_temperature": {"description":"Temperature of water in degrees Celsius, typically measured in pipes or tanks","values":[],"min_value":"0","max_value":"40","actions":[]}
    },
    "frontyard": {},
    "driveway": {},
    "backyard": {},
    "ground": {
     "soil_temperature": {"description":"Soil temperature in degrees Celsius","values":[],"min_value":"-10","max_value":"50","actions":[]}
    },
    "warning": {}
   },
   "air": {
    "stat": {},
    "warning": {}
   }
  }
 }
}